{% extends 'base.html.twig' %}

{% block title %}Edit Customer{% endblock %}

{% block body %}
    <h1>Edit Customer</h1>

    {{ include('customer/form.html.twig', {'button_label': 'Update'}) }}

    <p><a class="asm" href="{{ path('customer_index') }}">Back to list</a></p>

    <h4>{{ include('customer/delete_form.html.twig') }}</h4>
{% endblock %}
