{% extends 'base.html.twig' %}

{% block title %}New Customer{% endblock %}

{% block body %}
    <h1>Create new Customer</h1>

    {{ include('customer/form.html.twig') }}

    <p><a class="asm" href="{{ path('customer_index') }}">Back to list</a></p>
{% endblock %}
