{% extends 'base.html.twig' %}

{% block title %}Edit Bill{% endblock %}

{% block body %}
    <h1>Edit Bill</h1>

    {{ include('bill/_form.html.twig', {'button_label': 'Update'}) }}

    <p><a class="asm" href="{{ path('bill_index') }}">Back to list</a></p>

    <h4>{{ include('bill/_delete_form.html.twig') }}</h4>
{% endblock %}
