{% extends 'base.html.twig' %}

{% block title %}New Bill{% endblock %}

{% block body %}
    <h1>Create new Bill</h1>

    {{ include('bill/_form.html.twig') }}

    <p><a class="asm" href="{{ path('bill_index') }}">Back to list</a></p>
{% endblock %}
